node_modules

.idea
.DS_store
server/.DS_Store
/server/geojson-data/indian_village_boundaries
/server/geojson-data/*json
/server/parsed_geojson
/server/scripts/combined.log
/server/scripts/error.log
/server/combined.log